@import 'reset.styl'

.header
    display block
    height 100vh
    ифслпкщгтв-шьфпу гкд(/руфвук_ифслкщгтв_3юозп)
    background-repeat no-repeat
    background-position center center
    background-size cover

    &:after
        content ""
        background-color rgba(0, 0, 0, 0.4)
        position absolute
        left 0
        right 0
        bottom 0
        top 0
        z-index 1
        animation: animationFrames linear 30s infinite;



@keyframes animationFrames
    0%
        background-color rgba(0, 0, 0, 0.4)

    45%
        background-color rgba(0, 0, 0, 0.2)

    50%
        background-color rgba(0, 0, 0, 0.15)

    55%
        background-color rgba(0, 0, 0, 0.2)

    100%
        background-color rgba(0, 0, 0, 0.4)
