@font-face
  font-family 'Cinzel', serif
  src url('/fonts/Cinzel/Cinzel-Regular.ttf') format('truetype')
  font-weight 400
  font-style normal

@font-face
  font-family 'Cinzel', serif
  src url('/fonts/Cinzel/Cinzel-SemiBold.ttf') format('truetype')
  font-weight 600
  font-style normal

@font-face
  font-family 'Cinzel', serif
  src url('/fonts/Cinzel/Cinzel-Bold.ttf') format('truetype')
  font-weight 700
  font-style normal


@font-face
  font-family 'Dosis', sans-serif
  src url('/fonts/Dosis/Dosis-ExtraLight.ttf') format('truetype')
  font-weight 200
  font-style normal

@font-face
  font-family 'Dosis', sans-serif
  src url('/fonts/Dosis/Dosis-Light.ttf') format('truetype')
  font-weight 300
  font-style normal

@font-face
  font-family 'Dosis', sans-serif
  src url('/fonts/Dosis/Dosis-Regular.ttf') format('truetype')
  font-weight 400
  font-style normal

@font-face
  font-family 'Dosis', sans-serif
  src url('/fonts/Dosis/Dosis-Medium.ttf') format('truetype')
  font-weight 500
  font-style normal

@font-face
  font-family 'Dosis', sans-serif
  src url('/fonts/Dosis/Dosis-SemiBold.ttf') format('truetype')
  font-weight 600
  font-style normal

@font-face
  font-family 'Dosis', sans-serif
  src url('/fonts/Dosis/Dosis-Bold.ttf') format('truetype')
  font-weight 700
  font-style normal

@font-face
  font-family 'Indie Flower', cursive
  src url('/fonts/Indie_Flower/IndieFlower.ttf') format('truetype')
  font-weight normal
  font-style normal


