@import "variables.styl"

.header
  display block
  height calc(100vh + 200px)
  background-image url($image_path + 'bg/main.jpg')
  background-repeat no-repeat
  background-position center center
  background-size cover

  &:before
    content ""
    width 0
    height 0
    border-top border = 200px solid transparent
    border-right 100vw solid white
    position absolute
    bottom - border

  .logo
    position absolute
    left 50%
    width width = 100px
    margin-left -(width / 2)
    top 35px

    &__image
      width inherit

  .navigation
    @extends .header .logo
    width width = 320px
    margin-left -(width / 2)

    &__list
      position relative

      &_element
        @extends .font_700
        text-transform uppercase
        color #fafafa
        position absolute
        letter-spacing 3px
        $t = 42px

        &:nth-child(1)
          top $t

        &:nth-child(2)
          top $t
          right 5px

        &:nth-child(3)
          top 130px
          left 112px