$image_path = '/img/'

$main_font = 'Dosis', sans-serif
$head_font = 'Cinzel', serif
$comment_font = 'Indie Flower', cursive

.head_400
  font-family $head_font
  font-weight 400

.head_700
  font-family $head_font
  font-weight 700

.head_900
  font-family $head_font
  font-weight 900

.comment_font
  font-family $comment_font
  font-weight 900

.main_200
  font-family $main_font
  font-weight 200

.main_300
  font-family $main_font
  font-weight 300

.main_400
  font-family $main_font
  font-weight 400

.main_500
  font-family $main_font
  font-weight 500

.main_600
  font-family $main_font
  font-weight 600

.main_700
  font-family $main_font
  font-weight 700

/******** HEADER *********/
$header_color_text = white
$header_size_text = 17px
$header_letter_spacing = 3px
$header_top_position = 42px