$image_path = '/img/'

$font_300 = '/fonts/Poppins-Light'
$font = '/fonts/Poppins'
$font_400 = '/fonts/Poppins-Regular'
$font_500 = '/fonts/Poppins-Medium'
$font_600 = '/fonts/Poppins-SemiBold'
$font_700 = '/fonts/Poppins-Bold'

.font_300
  font-family $font_300
  font-weight 300

.font
  font-family $font
  font-weight 300

.font_400
  font-family $font_400
  font-weight 400

.font_500
  font-family $font_500
  font-weight 500

.font_600
  font-family $font_600
  font-weight 600

.font_700
  font-family $font_700
  font-weight 700



/******** HEADER *********/
$header_color_text = #fafafa
$header_size_text = 17px
$header_letter_spacing = 3px
$header_top_position = 42px